.wrapper
  p Hello #{name}! This is a p tag in Pug
  pre I pulled this a dog from the URL. Its also my dog's name and the next heading :)

h1 Say hello to #{dog}!
p Here is a picture of my dog #{dog}
img.dog-image(src="http://i.imgur.com/DCFU19E.jpg" alt=`${dog} is an Australian Cattle Dog`)