mixin loginForm(user={})
  form(action="/login" method="POST")
    h2 Login
    label(for="email") Email
    input(type="email" name="email")
    label(for="password") Password
    input(type="password" name="password")
    input(type="submit" value="Login ▶️" class="button")